{%extends 'base.html'%}

{%block contentD%}
<section class="showcase" style="background-color: #fff;">

  <div class="container-fluid p-0">
    <div class="row no-gutters g-5">

      <div class="col-lg-5 order-lg-2 text-white showcase-img" style="background-image: url('/static/assets/about1.jpg');" > </div>
      <div class="col-lg-7 order-lg-1 my-auto showcase-text" >
        <h2>Apa itu <span style="color:  rgb(18, 196, 124)"> Berita Hoax?</span></h2>
        <p class="lead mb-0" style="font-weight: 400;">Berita hoax adalah berita yang sengaja dibuat atau disebarluaskan dengan maksud menyesatkan atau memanipulasi fakta dengan tujuan tertentu. Berita hoax sering kali tidak memiliki dasar fakta yang kuat, tidak memiliki sumber yang terpercaya, dan sering kali digunakan untuk mempengaruhi opini publik atau menciptakan kebingungan.</p>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-lg-5 text-white showcase-img" style="background-image: url('/static/assets/about2.jpg');"></div>
      <div class="col-lg-7 my-auto showcase-text">
        <h2>Dari mana sumbernya?</h2>
        <p class="lead mb-0" style="font-weight: 400;">Siapa penulisnya? Mereka bisa terdiri dari:</p>
        <br>
        <ul style="font-weight: 400;">
          <li><p class="lead mb-0" style="font-weight: 400;">Seseorang yang ingin menghasilkan uang, tanpa memedulikan konten artikel tersebut</p></li>
          <li><p class="lead mb-0" style="font-weight: 400;">Penulis satir yang ingin menyampaikan pesan atau menghibur</p></li>
          <li><p class="lead mb-0" style="font-weight: 400;">Jurnalis yang kurang berpengalaman atau tidak terlatih - tekanan siklus berita 24 jam dan banyaknya situs berita dapat menyebabkan penulisan yang buruk dan tidak mengikuti standar jurnalistik yang baik</p></li>
          <li><p class="lead mb-0" style="font-weight: 400;">Kelompok-kelompok yang ingin mempengaruhi keyakinan politik dan kebijakan pembuat keputusan</p></li>
        </ul>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-lg-5 order-lg-2 text-white showcase-img" style="background-image: url('/static/assets/about3.jpg');"></div>
      <div class="col-lg-7 order-lg-1 my-auto showcase-text">
        <h2>Bagaimana cara menghadapi <span style="color:  rgb(18, 196, 124)"> Berita Hoax?</span></h2>
        <p class="lead mb-0" style="font-weight: 400;">Berpikir secara kritis. Gunakan strategi di website ini untuk mengevaluasi keakuratan informasi. Berpikir dua kali. Jika ada keraguan, JANGAN membagikan informasi tersebut.</p>
      </div>
    </div>

  </div>
</section>


{%endblock contentD%}